<!DOCTYPE html>
<html>
<head>
<title>OctaPoem AI</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top w3-text-black">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="w3-bar-item w3-button">HOME</a>
    <a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
    <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
  </div>
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center w3-opacity w3-hover-black w3-black">
    <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">AI ช่วยจับสัมผัสกลอนแปด</h1>
    <h5 class="w3-hide-large" style="white-space:nowrap">AI ช่วยจับสัมผัสกลอนแปด</h5>
    <h3 class="w3-hide-medium w3-hide-small">OctaPoem AI</h3>
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-16" id="about">
  <img src="{{ url_for('static', filename='images/plan00.jpg') }}" class="planpic w3-image w3-padding-32" style="width:80%">
  <main class="center">
  <form id="check-rhyme-form">
    <label for="text"><h4>กรุณาใส่ข้อความ:</h4></label>
    <textarea id="text" name="text" placeholder="แล้วสอนว่าอย่าไว้ใจมนุษย์ มันแสนสุดลึกล้ำเหลือกำหนด
ถึงเถาวัลย์พันเกี่ยวที่เลี้ยวลด ก็ไม่คดเหมือนหนึ่งในน้ำใจคน..." oninput="handleInput(event)"></textarea>
    <ul id="suggestions"></ul>
    <div id="loading-container">
      <div id="loading-bar"></div>
      <div id="loading-text">Processing...<div class="spinner"></div></div>
    </div>
    <div id="rhyme-messages"></div>
    <div id="syllable-lists"></div>
  </form>
  </main>

  <h1 class="w3-center" style="">ตัวอย่าง</h1>
  <h3 class="w3-center">กลอนแปด</h3>

  <div style="overflow-x:auto;">
    <table style="background-color: transparent; margin: 0px auto !important; width: 490px;">
      <tbody>
        <tr>
          <td width="250" style="padding: 6px 20px;"><strong>แล้วสอนว่าอย่าไว้ใจมนุษย์</strong></td>
          <td width="10"></td>
          <td width="200" ><strong>มันแสนสุดลึกล้ำเหลือกำหนด</strong></td>
        </tr>
        <tr>
          <td style="padding: 6px 0px;"><strong>ถึงเถาวัลย์พันเกี่ยวที่เลี้ยวลด</strong></td>
          <td></td>
          <td><strong>ก็ไม่คดเหมือนหนึ่งในน้ำใจคน</strong></td>
        </tr>
        <tr>
          <td style="padding: 6px 0px;"><strong>มนุษย์นี้ที่รักอยู่สองสถาน</strong></td>
          <td></td>
          <td><strong>บิดามารดารักมักเป็นผล</strong></td>
        </tr>
        <tr>
          <td style="padding: 6px 0px;"><strong>ที่พึ่งหนึ่งพึ่งได้แต่กายตน</strong></td>
          <td></td>
          <td><strong>เกิดเป็นคนคิดเห็นจึงเจรจา</strong></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="w3-row">
    <!-- Hide this text on small devices -->
    <div class="w3-col m12 w3-padding-large">
      <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b>กลอนแปด</b> นั้นถือว่าเป็นขนบกวีนิพนธ์พื้นฐานที่นิยมที่สุดในไทย เหตุเพราะมีฉันทลักษณ์ที่เรียบง่ายไม่ซับซ้อน สามารถแสดงอารมณ์ได้หลากหลาย และคนทั่วไปสามารถเข้าถึงเนื้อความได้ไม่ยาก
      หนึ่งในรูปแบบของกลอนแปดก็คือ รูปแบบกลอนแปดของสุนทรภู่ ซึ่งความแพรวพราวด้วยสัมผัสใน และขนบดังกล่าวนี้ก็ได้รับการสืบทอดต่อมาในงานกวีนิพนธ์ยุคหลังๆ กระทั่งปัจจุบัน</p>
      <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; บทหนึ่งประกอบด้วย 2 บาท บาทละ 2 วรรค วรรคละ 8 คำ ตามผัง</p>

      <table style="background-color: transparent; margin: 0px auto !important; width: 490px;">
        <tbody>
          <tr>
            <td width="240">O O O O O O O O</td>
            <td width="10"></td>
            <td width="240">O O O O O O O O</td>
          </tr>
          <tr>
            <td>O O O O O O O O</td>
            <td></td>
            <td>O O O O O O O O</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<!-- Footer -->
<footer id="contact" class="w3-center w3-black w3-padding-32 w3-hover-opacity-off w3-margin-top">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="" title="W3.CSS" target="_blank" class="w3-hover-text-blue">OctaPoemAI</a></p>
</footer>
</body>
</html>
